<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" href="custom.css" rel="stylesheet">
	</head>
	<body class="aboutpage">
		<div class="profile">
			<img src="/assets/tyler.jpg" class="aboutimage">
			<h1> Tyler </h1><h3><i> Owner, Consultant, Marketer, Programmer, Designer </i></h3>
			<p> BIO: Tyler is dedicated to a life of helping others by breaking down challenging barriers in marketing, business, and programming. After receiving a bachelors degree in Marketing from Bob Jones University in Greenville, SC, Tyler has specialized in marketing consulting with small to medium sized businesses. With the desire to always seek improvement, he learned programming during this time and is proficient in HTML, CSS, Javascript, jQuery, and Ruby. To provide the full, one-size-fits-all package, he has also gained design knowledge mostly in the realm of Adobe with Photoshop, InDesign, and Illustrator. Tyler also enjoys immersing himself and his clients in the world of social media to gain a larger community. In his spare time, he enjoys his wife and 2 young children, investing in the stock market, and playing fantasy sports. Originally from New Hampshire, he and his family now live in Annapolis, MD. </p>
		</div>
		<div class="nhpic">
			<img src="/assets/concord.jpg" class="aboutimage2">
		</div>


	</body>
</html>