<!DOCTYPE html>
<head>
	<%
	meta title: "TEW Marketing",
	     description: "All-In-One Marketing and Website Creation",
	     keywords: %w(marketing business strengths sally-hogshead how-to-fascinate school-of-greatness maestro ambitious focused confident)
	%>
	<link type="text/css" href="custom.css.scss" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <!--Analytics end-->
</head>

<body class="blogmap">
	<% cache(action_suffix: "blog") do %>
	<div class="blogmap-category">
		<h1>Most Popular</h1>
		<hr class="hr-width">
		<a href="/blog/knowingyourstrengthsgivesyouacompetitiveadvantage"><img src="/assets/blog/strengths.jpg"><h2>Knowing Your Strengths gives you a Competitive Advantage</h2></a>
	</div>
	<div class="blogmap-category">
		<h1>Read Our Latest Article</h1>
		<hr class="hr-width">
		<a href="/blog/customerserviceisathingofthepresent"><img src="/assets/blog/happy-customer-service.png" style="border:1px solid black;border-radius:10px;"><h2>Customer Service is a Thing of the Present</h2></a>
	</div>
	<div class="blogmap-category">
		<h1>Business Strategy</h1>
		<hr class="hr-width">
		<a href="/blog/lessonsfromsamwalton"><h2>Timeless Lessons for Businesses Big and Small</h2></a>
		<a href="/blog/fixingthesocialmediamistakesofotherbusinessowners"><h2>Fixing the Social Media Mistakes of Other Business Owners</h2></a>
	</div>
	<div class="blogmap-category">
		<h1>Inspiration</h1>
		<hr class="hr-width">
	</div>
	<% end %>
</body>
</html>