<head>
	<link type="text/css" href="custom.css" rel="stylesheet">
</head>

<body class="blog">
	<div class="bloglinks">
		HI
	</div>
	<div class="mainarticle">
		<div class="articletitle">
			Knowing Your Strengths Gives You a Competitive Advantage
		</div>
		<div class"articleauthor">
			Author: Tyler
		</div>
		<div class"articlesocialshare">Please Share!  
			<a href="https://twitter.com/share" class="fa fa-twitter" data-url="http://tewmarketing.com" data-via="tewmarketing"></a>
			<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.p" class="fa fa-facebook"></a>
			<a href="https://www.linkedin.com/cws/share?xd_origin_host=http%3A%2F%2Flocalhost%3A3000&original_referer=http%3A%2F%2Flocalhost%3A3000%2Fpages%2Fblog&url=http%3A%2F%2Ftewmarketing%2Ecom&isFramed=false&token=&lang=en_US&_ts=1447873550452%2E2673#state=&from_login=true" class="fa fa-linkedin"></a>
		</div>
		<div>
			<img src="/assets/strengths.jpg" class="articleimg">
		</div>
		<div class="articlebody">

		</div>
		<div class="articlecta">
			<a href="/contacts/new">Contact Us</a> to learn more!
		</div>
	</div>


</body>
