<head>
	<link type="text/css" href="custom.css.scss" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!--COPY THIS FOR EVERY PAGE - CHANGE CONTENTS-->
	<title>TEW Marketing</title>	
	<!-- meta -->
	<meta property="og:url"                content="http://www.tewmarketing.com/pages/blog2"/>
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Fixing Other Business Owner's Social Media Mistakes" />
	<meta property="og:description"        content="Don't make these mistakes. Just don't." />
	<meta property="og:image"              content="http://www.tewmarketing.com/assets/blog/twitter-hashtags-social-media-marketing.png" />
	<meta property="og:site_name"          content="TEW Marketing"/>
	<!--Twitter meta-->
	<meta name="twitter:card" content="Business Owner's Social Media Mistakes" />
	<meta name="twitter:site" content="@tewmarketing" />
	<meta name="twitter:creator" content="@tewmarketing" />
	<!--end copy-->
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <!--Analytics end-->
</head>

<body class="blog">
	<% cache(action_suffix: "blog") do %>
	<div class="bloglinks">
		<strong>Other Articles:</strong>
		<p><a href="/pages/blog">Knowing Your Strengths Gives You a Competitive Advantage</a></p>
	</div>
	<div class="mainarticle">
		<div class="articletitle">
			Fixing Other Business Owner's Social Media Mistakes
		</div>
		<div class"articleauthor">
			Author: Tyler
		</div>
		<div class"articlesocialshare">Please Share!  
			<!-- Twitter -->
			<a href="http://twitter.com/home?status=SHAREMESSAGE" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
			 <!-- Facebook -->
			<a href="https://www.facebook.com/sharer/sharer.php?u=tewmarketing" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
			<!-- Google+ -->
			<a href="https://plus.google.com/share?url=SHAREMESSAGE" title="Share on Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
			<!-- StumbleUpon -->
			<a href="http://www.stumbleupon.com/submit?url=SHAREMESSAGE" title="Share on StumbleUpon" target="_blank" data-placement="top"><i class="fa fa-stumbleupon"></i></a>
			<!-- LinkedIn --> 
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=SHAREMESSAGE" title="Share on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>	
		</div>
		<div class="articlebody">
		<div>
			<img src="/assets/social-media-mistakes-header.jpg" class="articleimg">
		</div>
				<p>Everyone knows that social media can be a great tool. We hear every day about the next up and coming performer discovered on YouTube. Long lost family members have become <a href="http://elitedaily.com/life/culture/the-power-of-social-media-10-years-10-amazing-stories-made-possible-by-facebook/">reunited</a> due to their Facebook profiles. Dunkin Donuts created a buzz which led to 130,000 people submitting a <a href="https://chaosmap.com/blog/top-10-amazing-social-media-success-stories-you-can-learn-from-now/">new donut idea</a>. I, myself, was able to lead a <a href="https://www.youcaring.com/memorial-fundraiser/love-for-chase-in-memory-of-chad-and-courtney/75570">social media campaign raising $50,000</a> for my best friend’s son who was left behind after my friend and his wife lost their lives in a bus crash.</p>
				<p>There is definitely success to be had. The problem we face is not due to our enthusiasm but rather that</p>
				<p><h3>We think we are already pros at social media because we may have our own personal Facebook or Instagram account.</h3></p>
				<p> Yes, these are great, simple, and often free tools, but they need to be learned and strategized. Look at these bad examples below. Do not do these things.</p>
				<hr>
				<img src="/assets/blog/twitter-hashtags-social-media-marketing.png" class="articleimg">
				<hr>
				<p>Besides not loving the company name - I think we all enjoy making fun of the people who put too many hashtags in their tweets and posts (and lives). <strong>Stick to 1 to 2 relevant hashtags.</strong> Also, why would you want to distract your audience by saying something irrelevant? If you want to come across as lighthearted at times, which I recommend having fun with your audience, make sure that has been clearly defined by your previous posts but I would still not recommend throwing it in where it doesn’t fit. Check out this <i>good</i> Twitter example:</p>
				<hr>
				<img src="/assets/blog/bp-good-twitter-example-social-media-marketing.png" class="articleimg">
				<hr>
				<p>BP keeps the hashtags to a minimum and theirs are appropriate (#throwbackthursday trends every Thursday). Also, <strong>any sort of visual is a plus.</strong> Think about what catches your eye when you are scrolling down a page of text.</p>
				<hr>
				<p>Twitter isn’t the only platform where people make mistakes. See this example from Instagram:</p>
				<hr>
				<img src="/assets/blog/instagram-bad-example-selfie-social-media-marketing.png" class="articleimg">
				<hr>
				<p>You would be surprised about how many people post pointless selfies on their business accounts. Don’t. Just don’t do it. <strong>It’s not about you.</strong> Social media is all about me, the audience, and what I can get out of having my personal account. I have to say that I would condone posting selfies if it was part of a campaign you were doing to say spotlight your employees.</p>
				<p><h3>With social media, almost anything is acceptable if it falls within your profile’s “identity.”</h3></p>
				<p>One of the reasons why it is key to develop a specific strategy for your social media accounts.</p>
				<hr>
				<p>Everyone knows how to use Facebook, right? What about this business example?</p>
				<hr>
				<img src="/assets/blog/hanes-bad-example-facebook-social-media-marketing.png" class="articleimg">
				<hr>
				<p>Bit of a reach by Hanes don’t ya think? As a consumer, I don’t usually respond to ads like this <strong>reaching for a connection to something totally un-connectable.</strong> The only post that may have been somewhat acceptable for Hanes here would have been to say congratulations without trying to make it all about them. Best to stay away sometimes.</p>
				<hr>
				<p>As business owners we are busy, right? Good thing there are tools out there to help us connect all of our platforms and post to all of them at once, right? Wrong. See this example:</p>
				<hr>
				<img src="/assets/blog/connected-accounts-bad-example-social-media-marketing.png" class="articleimg">
				<hr>
				<p>You see how the post was made on Twitter but translated to Facebook? Not nearly as thrilling as it could have been. I mean, the only visual in this post is a box pointing back to the Twitter post. Take an extra few minutes to post this directly on each platform. In this case, a better visual could have been added or at least, not having to recognize a 140 character limit, the wording could have been more elaborate.</p>
				<p>Look at this good example from BP. They are leveraging the same content but catering it to each account specifically.</p>
				<hr>
				<img src="/assets/blog/bp-good-example-twitter-connected-social-media-marketing.png" class="articleimg">
				<hr>
				<img src="/assets/blog/bp-good-example-facebook-connected-social-media-marketing.png" class="articleimg">
				<hr>
				<p>What do you think? <strong>Would you have made these critical mistakes without realizing it?</strong> Don’t worry, you’ll be fine as long as you take the time to develop a strategy and a social media identity for each account. Social media is simple and fun. Enjoy it! Just keep the selfies to your personal accounts!</p>
		</div>
		<hr>
		<div class="articlecta">
			<a href="/contacts/new">Contact Us</a> to learn how to properly use and get the most out of your social media marketing campaigns!
			<hr>
			<p>Consider this post:</p>
			<p><a href="/pages/blog" class="ctanext">Knowing Your Strengths Gives You a Competitive Advantage</a></p>
		</div>

	</div>
	<% end %>

</body>