<!DOCTYPE html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>
	<link type="text/css" href="custom.css" rel="stylesheet">
  <script type="text/javascript" src="application.js"></script>
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <style>
    .bmenu li{display:none;}
    .bmenu {z-index:100;}
    .sidebar {display:none;}    
      </style>
      <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body class="churches">
  <!-- Beginning slides -->
  <!--
  <div id="churches-start">
    <p>Professionally Represent Your Church to the Community</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start').fadeOut('slow');
}, 5000);
</script>
<script>
setTimeout(function() {
    $('#churches-start2').fadeIn('slow');
}, 5300);
</script>  
  <div id="churches-start2">
    <p>Communicate with Potential Visitors and Provide Resources to Your Members</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start2').fadeOut('slow');
}, 10300);
</script>
<script>
setTimeout(function() {
    $('#churches-start3').fadeIn('slow');
}, 10600);
</script>  
  <div id="churches-start3">
    <p>Reach Your Community on-the-go with a Responsive Mobile Site</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start3').fadeOut('slow');
}, 15600);
</script>  
<script>
setTimeout(function() {
    $('#churches-start4').fadeIn('slow');
}, 15900);
</script>  
  <div id="churches-start4">
    <p>Let us Serve YOU</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start4').fadeOut('slow');
}, 20900);
</script> 
-->
<!-- end beginning slides -->
  <div class="churches-body">
    <img src="/assets/responsive-example.jpg">
    <div class="churches-item1">
      <h2>Mission:</h2>
      <hr> 
      <p>To Create Free Website Building and Community Reaching Tools that will help Local Churches Reach their Communities with the Gospel of Jesus.</p>
      <br>
      <br>
    </div>
    <div class="churches-item2">
      <h2>How This Works:</h2> 
      <hr>
      <p>Answer: However it best serves you! We would like to get to know you and your ministry to be sure that we are providing the best services for you. Meeting with you would be ideal but if the distance is too great we can just converse remotely. If your current website just needs updating we could also help with that or perhaps you would just like a crash course in social media strategy. We would like to use our skills to encourage your ministry.</p>
    </div>
    <div class="churches-item3">
      <h2>Testimony:</h2>
      <hr> 
      <p>Tyler was born in a Christian home and attended Trinity Christian School in Concord, NH from Kindergarten through high school. He then received a Bachelor's degree in Marketing from Bob Jones University in Greenville, SC in 2010. He, along with his wife, Elaine, and 2 young children live in Annapolis, MD. After being laid off, the Lord laid the desire on Tyler's heart to use his given talents in service to him by ministering to local churches. For now, the focus will be mainly on website creation but we pray that the Lord may grow this ministry.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="churches-item2" id="possibilities">
      <h2>Possibilities:</h2> 
      <hr>
      <p>These are some specific things we could provide:</p>
      <p>Logo</p>
      <p>Designs / Literature</p>
      <p>Interactive Calendars</p>
      <p>Staff Profiles</p>
      <p>Blog</p>
      <p>Ministries</p>
      <p>Upload Sermons that can be downloaded from or listened to online</p>
      <p>eGiving</p>
      <p>Upload Resources to be viewed</p>
      <p>Login only pages</p>
      <p>Email Accounts</p>
    </div>
    <div class="churches-item3">
      <h2>Example Site:</h2>
      <hr> 
      <p>See this site as simply one example of what we can offer.</p>
      <a href="http://yourchurch.herokuapp.com"><img src="/assets/church-website-example.png"></a>
    </div>
    <div class="churches-item2">
      <h2>Help Us To Serve:</h2> 
      <hr>
      <p>Please consider donating to this ministry to help us be able to continue offering these services.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="K3KBZ43K3YBQ4">
      <input type="image" src="/assets/donate-button.png" class="donate-image" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>


    </div>  








</body>
</html>