<head>
	<link type="text/css" href="custom.css" rel="stylesheet">
</head>
<body class="home">
	<div>
		<img src="/assets/TEWlogo1.png" class="homepic">
	</div>
    <div class="home-container">
        <div class="home-content">
            <div class="home-bmenu">
                
                <div class="home-link hvr-radial-out">
                	<%= link_to "About Us", :controller => "pages", :action => "about" %>
                </div>
                <div class="home-link hvr-radial-out">
                	<%= link_to "Services", :controller => "pages", :action => "services" %>
                </div>
                <div class="home-link hvr-radial-out">
                	<%= link_to "Contact Us", new_contact_path %>
                </div>
                <div class="home-link hvr-radial-out">
                	<%= link_to "Blog", :controller => "posts" %>
                </div>
            </div>
        </div>
    </div>


</body>
