<head>
    <title>tewmarketing.com</title>
	<link type="text/css" href="custom.css" rel="stylesheet">
</head>
<frameset rows="100%,*" border="0">
  <frame src="http://secret-caverns-5811.herokuapp.com" frameborder="0" />
  <frame frameborder="0" noresize />
</frameset>
<body class="home">
	<div>
		<img src="/assets/TEWlogo1.png" class="homepic">
	</div>
    <div class="home-container">
        <div class="home-content">
            <div class="home-bmenu">
               <a href="/pages/about"> 
                    <div class="home-link hvr-radial-out">About Us</div>
                </a>
                <a href="/pages/services">
                    <div class="home-link hvr-radial-out">Services</div>
                </a>
                <a href="/contacts/new">
                    <div class="home-link hvr-radial-out">Contact Us</div>
                </a>
                <a href="/pages/blog">
                    <div class="home-link hvr-radial-out">Blog</div>
                </a>
            </div>
        </div>
    </div>


</body>
