<head>
        <!--COPY THIS FOR EVERY PAGE - CHANGE CONTENTS-->
    <title>TEW Marketing</title>    
    <!-- meta -->
    <meta property="og:url"                content="http://www.tewmarketing.com/"/>
    <meta property="og:type"               content="Home" />
    <meta property="og:title"              content="TEW Marketing" />
    <meta property="og:description"        content="The Source for All-In-One Marketing and Website" />
    <meta property="og:image"              content="http://www.tewmarketing.com/assets/TEWlogo1.png" />
    <meta property="og:site_name"          content="TEW Marketing"/>
    <!--Twitter meta-->
    <meta name="twitter:card" content="All-In-One Marketing and Website" />
    <meta name="twitter:site" content="@tewmarketing" />
    <meta name="twitter:creator" content="@tewmarketing" />
    <!--end copy-->

	<link type="text/css" href="custom.css" rel="stylesheet">
</head>
<body class="home">
	<div>
		<img src="/assets/TEWlogo1.png" class="homepic">
	</div>
    <div class="home-container">
        <div class="home-content">
            <div class="home-bmenu">
               <a href="/pages/about"> 
                    <div class="home-link hvr-radial-out">About Us</div>
                </a>
                <a href="/pages/services">
                    <div class="home-link hvr-radial-out">Services</div>
                </a>
                <a href="/contacts/new">
                    <div class="home-link hvr-radial-out">Contact Us</div>
                </a>
                <a href="/pages/blog">
                    <div class="home-link hvr-radial-out">Blog</div>
                </a>
            </div>
        </div>
    </div>


</body>
