<head>
	<link type="text/css" href="custom.css.scss" rel="stylesheet">
</head>


<body class="portfolio">
	<img src="/assets/concord.jpg" class="portfolio-pic">
	<div>This page will be updated shortly!</div>

</body>