<!DOCTYPE html>
<head>
<link type="text/css" href="custom.css.scss" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
  ga('send', 'pageview');
</script>
<!--Analytics end-->
</head>
<body class="services">
	<% cache(action_suffix: "services") do %>
    <div class="splash">
        <p class="services-intro">
            We are a one-stop shop for your online and offline needs and what we don't offer for services today we will most likely offer tomorrow! Our mantra is ever-learning in an ever-growing world. Over 800,000 websites are created every day and so there is always more to learn. Don't worry - that is where we come in. You do what you love and allow us to perform the work to help you turn that love into a success.</p>
	</div>
	<div class="marketing">
		<p></p>
		<h3 class="item-title-marketing">Marketing</h3>
		<p>We specialize in Multiple Channels:</p>
		<p><strong>Inbound</strong>- Bring visitors to you through blogs, videos, podcasts, ebooks, other website content.</p>
		<p><strong>Direct</strong>- Go straight to the customer using email, fliers, catalogs, online ads, television commercials.</p>
		<p><strong>Content</strong>- Attract and retain customers with how-to guides, white papers, infographics, case studies, Q&A sessions.</p>
		<p><strong>Social Media</strong>- Reach out to your audience through strategized plans with Facebook, LinkedIn, Twitter, Instagram, Pinterest, YouTube.</p>
		<p class="last"><strong>Community</strong>- Become a valuable member in your community via event sponsorship, event creation, awareness.</p>
	</div>	     
	<div class="website">
		<h3 class="item-title-website">Website Development</h3>
		<p>Online store? Photography? We can do it all.</p>
		<p><strong>Portfolio</strong>- Beautiful designs showcasing your art, your photography, yourself.</p>
		<p><strong>Online Store</strong>- Practical site focusing on your small or large inventory making it easy for your customers to find the products they are looking for.</p>
		<p><strong>Membership</strong>- Platform where users can sign-up to become a member and login to see their profiles or membership-only content.</p>
		<p class="last"><strong>Blog</strong>- Simple design where you can focus on writing whether seeking to stay local or become a major source.</p>
	</div>
	<div class="marketing">
		<p></p>
		<h3 class="item-title-marketing">Design</h3>
		<p>We will create what you envision:</p>
		<p><strong>Logo</strong>- Whether the goal is dignified or fun, we will create for you a family of logo designs.</p>
		<p><strong>Brochure</strong>- Develop your leads into customers by taking the next step with brief or extensive literature.</p>
		<p><strong>Flier</strong>- Create some eye-catching, clear and concise visuals to hand out at your next event.</p>
		<p><strong>Presentations</strong>- Farmer's Market? Trade show? We will help get you set up with all of the materials you need to be a showstopper.</p>
		<p class="last"><strong>Wearables</strong>- Employees shirts? Hand-outs to customers? Gifts? We will take care of it.</p>
	</div>							
	<div class="website">
		<h3 class="item-title-website">Analytics</h3>
		<p>How is Everything Performing:</p>
		<p><strong>Search Engine</strong>- How are people finding my site? Can they find me? Increase the chances of people discovering your site.</p>
		<p><strong>Website Traffic</strong>- Are people finding what they are looking for? Who is visiting? How long are they staying?</p>
		<p><strong>Social Media Audience</strong>- What kinds of people are connecting to me? Is my content working? What can I do better?</p>
		<p class="last"><strong>Customer Feedback</strong>- Create a relationship with your customers even online. Seek their help and opinions and know what to do with the feedback.</p>
	</div>
	<hr>
	<p class="services-final">
		We want to cater our business to your needs. Maybe you would just like us to do a few projects for you and then step aside or perhaps you'd like some ongoing assistance. Or maybe 6 months down the road you'd like us to perform some website maintenance for you - it doesn't matter. We would like to work with you to help solve your needs - immediate AND down the road.</p>
	<p class="services-cta">Please <a href="/contacts/new">Contact Us!</a></p>

	<% end %>

</body>
</html>
