<head>
<!-- meta -->
<meta property="og:url"                content="http://www.tewmarketing.com/"/>
<meta property="og:type"               content="Home" />
<meta property="og:title"              content="TEW Marketing" />
<meta property="og:description"        content="The Source for All-In-One Marketing and Website" />
<meta property="og:image"              content="http://www.tewmarketing.com/assets/TEWlogo1.png" />
<meta property="og:site_name"          content="TEW Marketing"/>
<!--Twitter meta-->
<meta name="twitter:card" content="All-In-One Marketing and Website" />
<meta name="twitter:site" content="@tewmarketing" />
<meta name="twitter:creator" content="@tewmarketing" />
<!--end copy-->
<link type="text/css" href="custom.css.scss" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body class="services">
	<% cache(action_suffix: "services") do %>
	<div class="services-intro"><h1>What We Offer</h1>
		<p>We are a one-stop shop for your online and offline needs and what we don't offer for services today we will most likely offer tomorrow! Our mantra is ever-learning in an ever-growing world. Over 800,000 websites are created every day and so there is always more to learn. Don't worry - that is where we come in. You do what you love and allow us to perform the work to help you turn that love into a success.</p>
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <!--Analytics end-->
	</div>
	<div class="services-div">
		<p>Hover / Click (mobile)</p>
		<div class="item item-type-move">
			<a class="item-hover" target="_blank">
				<div class="item-info">
					<div class="headline">
						Marketing - We Specialize in Multiple Channels
						<div class="line"></div>
					</div>
					<div class="date">
						<p>Inbound</p>
						<p>Direct</p>
						<p>Content</p>
						<p>Social Media</p>
						<p>Brand Lover</p>
						<p>Community</p>
						<p>B2B / B2C</p>
						<p></p>
					</div>							
				</div>
				<div class="mask"></div>
			</a>
			<div class="item-img"><img src="/assets/tree.png" class ="item-img" alt="" /></div>
		</div>	
		<div class="item item-type-move">
			<a class="item-hover" target="_blank">
				<div class="item-info">
					<div class="headline">
						Website Development
						<div class="line"></div>
					</div>
					<div class="date">
						<p>We can provide different styles:</p>
						<p>Portfolio</p>
						<p>Online Store</p>
						<p>Publication</p>
						<p>Membership</p>
						<p>Blog</p>
						<p></p>
					</div>							
				</div>
				<div class="mask"></div>
			</a>
			<div class="item-img"><img src="/assets/website.png" class ="item-img" alt="" /></div>
		</div>	
		<div class="item item-type-move">
			<a class="item-hover" target="_blank">
				<div class="item-info">
					<div class="headline">
						Design
						<div class="line"></div>
					</div>
					<div class="date">
						<p>We will create what you envision:</p>
						<p>Logo</p>
						<p>Brochure</p>
						<p>Flier</p>
						<p>Presentations</p>
						<p>Wearables</p>
						<p></p>
					</div>							
				</div>
				<div class="mask"></div>
			</a>
			<div class="item-img"><img src="/assets/TEWcollage.png" class ="item-img" alt="" /></div>
		</div>	
		<div class="item item-type-move space">
			<a class="item-hover" target="_blank">
				<div class="item-info">
					<div class="headline">
						Analytics
						<div class="line"></div>
					</div>
					<div class="date">
						<p>How is Everything Performing:</p>
						<p>Search Engine</p>
						<p>Website Traffic</p>
						<p>Social Media Audience</p>
						<p>Customer Feedback</p>
						<p></p>
					</div>							
				</div>
				<div class="mask"></div>
			</a>
			<div class="item-img"><img src="/assets/blog_chart.jpg" class ="item-img" alt="" /></div>
		</div>	
	</div>
	<% end %>

</body>

