<link href="custom.css.scss" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


    <style>
    body {
        padding-top: 70px;
        background-image: linear-gradient(to right, #eeeeee, #9faeb8);
        font-family: 'Lato', sans-serif;
    }
    </style>
<body>
	<h1>Services</h1>
	<p>We are a one-stop shop for your online and offline needs and what we don't offer for services today we will most likely offer tomorrow! Our mantra is ever-learning in an ever-growing world. Over 800,000 websites are created every day and so there is always more to learn. Don't worry - that is where we come in. You do what you love and allow us to perform the work to help you turn that love into a success.</p>
	<ul>
		<li><h3>Online Marketing</h3>

		</li>
		<li><h3>Design</h3>

		</li>
		<li><h3>Website Creation and Monitoring</h3>

		</li>

