<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="custom.css" rel="stylesheet">
	</head>
<body class="test">

<p>Click the button to display the time.</p>

<button onclick="myFunction()"><img id="myImg" src="/assets/tree.png" width="107"     height="98"></button>



</body>
</html>
