@import "bootstrap-sprockets";
@import "bootstrap";

body {
	max-width: 1080px;
	margin: 0 auto !important;
	margin-top: -15px;
	font-size: 100%;
}

.contacts-background {
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url("/assets/desk.png") no-repeat top transparent;
	background-size: 100% 100%;
}
.contact-us {
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding-top: 0px;
	margin: 0px 0px;
}
.left {
	width: 40%;
	float: left;
	margin-top: 150px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #3399FF;
	font-size: 1.5em;
	line-height: 1.8em;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.right {
	width: 60%;
	float: left
}
@media screen and (max-width: 60em){
	.left{
		font-size: 90%;
	}
}
@media screen and (max-width: 35em){
	.left{
		font-size: 60%;
	}
}
/*Image*/
.contact-image {
	max-width: 100%;
	clear: both;
}
/*Form*/
.well {
	padding-top: 0px;
	width: 65%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
}
.well .form-control {
	border: none;
	background: transparent;
  	font-family:Lato ;
  	font-weight:700 ;
	display: block;
	height: 20px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
	font-size: 15px;
}
.bar {
	width: 100%;
	height: 10px;
	background: transparent ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.well .form-control {
	border-radius: 5px;
	border: 1px solid white;
}
#comments {
	height: 100px;
}
.well .btn {
	width: 100%;
	border-radius: 7px;
	background: white;
	text-decoration: center;
	border: none;
	color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top:-5px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	font-size: 22px;	
	border-bottom: 3px solid gray;
	cursor: pointer;
}
.btn:hover {
	background-color: #3399FF;
}
.form-control:hover {
	border: 1px solid #3399FF;
}
/*End Form*/
/*Sidebar*/
.sidebar {
	position:fixed;
	background: repeating-linear-gradient(45deg, white, white 1px, #F3EFE0 1px, #F3EFE0 2px);
	height: 100%;
	width: 30px;
	right: 0;
}
.ul-sidebar {
	list-style-type: none;
	margin-left: -35px;
	float: left;
	margin-top: 0px;
}
.sidebar-items {
	float: left;
	margin-top: 5px;

}
.fa:hover {
	color: #3399FF;
}
/*Footer*/
.footer {
	position: fixed;
	background: repeating-linear-gradient(45deg, white, white 1px, #F3EFE0 1px, #F3EFE0 2px);
	width: 100%;
	height: 20px;
	bottom: 0;
	margin: 0 auto;
	font-size: 10px;
}
/*End Footer*/

/*Homepage*/
.home{
	background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}




