@import "bootstrap-sprockets";
@import "bootstrap";
/*-------------------------Navbar-------------------------*/
.bmenu {
	position: fixed;
	top: 0;
	background-color: #474747;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 25px;
}

body {
	max-width: 1080px;
	margin: 0 auto !important;
	margin-top: -15px;
	font-size: 100%;
}

.contacts-background {
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url("/assets/desk.png") no-repeat top transparent;
	background-size: 100% 100%;
}
.contact-us {
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding-top: 0px;
	margin: 0px 0px;
}
.left {
	width: 40%;
	float: left;
	margin-top: 150px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #3399FF;
	font-size: 1.5em;
	line-height: 1.8em;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.right {
	width: 60%;
	float: left
}
@media screen and (max-width: 60em){
	.left{
		font-size: 90%;
	}
}
@media screen and (max-width: 35em){
	.left{
		font-size: 60%;
	}
}
/*------------------------------Image----------------------------*/
.contact-image {
	max-width: 100%;
	clear: both;
}
/*-------------------------------Form----------------------------*/
.well {
	padding-top: 0px;
	width: 65%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
}
.well .form-control {
	border: none;
	background: transparent;
  	font-family:Lato ;
  	font-weight:700 ;
	display: block;
	height: 20px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
	font-size: 15px;
}
.bar {
	width: 100%;
	height: 10px;
	background: transparent ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.well .form-control {
	border-radius: 5px;
	border: 1px solid white;
}
#comments {
	height: 100px;
}
.well .btn {
	width: 100%;
	border-radius: 7px;
	background: white;
	text-decoration: center;
	border: none;
	color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top:-5px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	font-size: 22px;	
	border-bottom: 3px solid gray;
	cursor: pointer;
}
.btn:hover {
	background-color: #3399FF;
}
.form-control:hover {
	border: 1px solid #3399FF;
}
/*End Form*/
/*Sidebar*/
.sidebar {
	position: fixed;
	background: #474747;
	height: 100%;
	width: 30px;
	right: 0;
	top: 0;
}
.ul-sidebar {
	list-style-type: none;
	margin-left: -35px;
	float: left;
	margin-top: 0px;
}
.sidebar-items {
	float: left;
	margin-top: 5px;

}
.fa:hover {
	color: #3399FF;
}
/*Footer*/
.footer {
	position: fixed;
	background: #474747;
	width: 150%;
	height: 20px;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	font-size: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*End Footer*/

/*---------------------------Homepage----------------------------*/
.home .bmenu {
	display: none;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

}
.homepic {
	height: 400px;
	width: 550px;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: 100% 100%;
	max-width: 100%;
	height: auto;
}
.home-container {
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: 100% 100%;
	max-width: 100%;
	height: auto;
}
/*------------------------Homepage Navbar-------------------------*/
.home-link {
	width: 120px;
	height: 22px;
	border: 2px solid #3399FF;
	border-radius: 10px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color: #9A3334;
}
.home-link a:link {
	text-decoration: none;
}
.home-link a {
	color: #9A3334;
}
.home-link a:hover {
	color: white;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  border-radius: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/*---------------------------AboutPage-------------------------*/
.aboutimage {
	width: 100%;
	height: auto;
	margin: 1em auto;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3); 
}
.aboutpage {
	padding-top: 100px;
	width: 100%;
}
.aboutimage2 {
	height: 300px;
	width: 400px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
	margin-left: 100px;
}
.profile {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	width: 350px;
	color: #9A3334;
	padding-bottom: 50px;
}
.nhpic .profile .ul-about .aboutimage .aboutimage2 .connect {
	float: left;
	display: inline;
}
.ul-about {
	list-style-type: none;
}
.aboutlinks {
	list-style-type: none;
}
h3 {
	display: inline;
	margin-left: 180px;
}
.aboutlinks {
	margin-left: 550px;
	padding-top: 30px;
	position: center;
}
.connect {
	margin-top: 100px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #9A3334;
}
.aboutlink1 {
	font-size: 30px;
}
.aboutlink2 {
	padding: 5px;
	margin-left: 30px;
}
/*----------------------------Services Page-------------------------*/
.services {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #217C7E;
	padding-top: 100px;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.services-intro {
	margin: 0px 40px;
}
/*Effects*/
.item {
	text-align:center;
	float:left;
	margin: 5px;
	position:relative;	

}
.all-items {
	margin: 0px 40px;
}
		
.item,
.item-hover,
.item-hover .mask,
.item-img,
.item-type-move .item-info {
	width: 450px;
	height: 350px;	
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);	
	border-radius: 5px;		
}

.item-hover,
.item-hover .mask,
.item-img { 
	position:absolute;
	top:0;
	left:0;			
}			
		
.item-type-move .item-hover {	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	cursor:pointer;		
	z-index:100;
}
			
.item-type-move .item-info {
	z-index:10;
	color:#ffffff;
	position:relative;
	z-index:5;			
	overflow:hidden;			
}
			
.item-type-move .item-info .headline,
.item-type-move .item-info .date {
	width: 100%;
	position:absolute;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;	
	padding:0 10px;															
}				

.item-type-move .item-info .headline {
	font-size:18px;			
	top:20px;							
}
				
.item-type-move .item-info .date {
	font-size:14px;
	font-style:italic;
	bottom:20px;																		
}
								
.item-type-move .item-info .line {
	 height:1px;
	 width:85%;
	 margin:10px auto 0 auto;
	 background-color:#ffffff;		 
}				
				
.item-type-move .item-hover .mask {
	background-color:#000;
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);					
	z-index:0;
}
				
				.item-type-move .item-hover:hover {
					opacity:1;
				}				

				.item-type-move .item-hover:hover .item-info .headline {
					top:4%;
				}				

				.item-type-move .item-hover:hover .item-info .date {
					bottom:4%;
				}
				

				
.item-img {			
	z-index:0;			
}
.space {
	height: 30px;
}
.services-div {
	padding: 75px;
}




















