@import "bootstrap-sprockets";
@import "bootstrap";
/*-------------------------Navbar-------------------------*/
body {
	max-width: 1080px;
	margin: 0 auto !important;
	margin-top: -15px;
	font-size: 100%;
	margin-bottom: 100px;
}
.bmenu {
	position: fixed;
	top: 0;
	background-color: #474747;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 25px;
	height: 40px;
}
@media screen and (max-width:1100px){
	.bmenu {height:60px;}
}
/*-------------------------Contact Us----------------------*/
.contacts-background {
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url("/assets/desk.jpg") no-repeat top transparent;
	background-size: 100% 100%;
}
.contact-us {
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding-top: 0px;
	margin: 0px 0px;
}
.left {
	width: 40%;
	float: left;
	margin-top: 150px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #3399FF;
	font-size: 1.5em;
	line-height: 1.8em;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.right {
	width: 60%;
	float: left
}
@media screen and (max-width: 1100px){
	.right{clear:both; width: 80%; margin-left: 50px;}
	.left{width: 80%; margin-left:50px;}
}
/*------------------------------Image----------------------------*/
.contact-image {
	max-width: 100%;
	clear: both;
}
/*-------------------------------Form----------------------------*/
.well {
	padding-top: 0px;
	width: 65%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
}
.well .form-control {
	border: none;
	background: transparent;
  	font-family: 'Yanone Kaffeesatz', sans-serif;
  	font-size: 22px;
	display: block;
	height: 30px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 10px;
	background: transparent ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.well .form-control {
	border-radius: 5px;
	border: 1px solid white;
}
#comments {
	height: 100px;
}
.well .btn {
	width: 100%;
	border-radius: 7px;
	background: white;
	text-decoration: center;
	border: none;
	color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top:-5px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	font-size: 22px;	
	border-bottom: 3px solid gray;
	cursor: pointer;
}
::placeholder{color:black;}
/*------------------------------Sidebar-------------------------------*/
.sidebar {
	position: fixed;
	background: #474747;
	height: 100%;
	width: 37px;
	right: 0;
	top: 0;
}
.ul-sidebar {
	list-style-type: none;
	margin-left: -35px;
	float: left;
	margin-top: 0px;
}
.sidebar-items {
	float: left;
	margin-top: 5px;
	color: white;
}
.fa:hover {
	color: #3399FF;
}
@media only screen and (max-width:1100px){
	.sidebar {width:111px;}
	.ul-sidebar {margin-left:-200;}
	.sidebar-items {margin-top:20px;}
	.fa {font-size:6em !important;}
}
/*------------------------------Footer--------------------------------*/
.footer {
	position: fixed;
	background: #474747;
	width: 150%;
	height: 20px;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	font-size: 14px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*---------------------------Homepage----------------------------*/
#home {
	height:1000px;
	width:1080px;
	margin: 0 auto;
}
.homebody{
	background-image: url(/assets/boston-skyline.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#home .bmenu {
	display: none;
}
.homepic {
	height: 150px;
	width: 250px;
	position: absolute;
	opacity:.8;
}
.homepic:hover {
	opacity:1;
	transform: scale(1.05);
}
/*------------------------Homepage Navbar-------------------------*/
#start {
	position:absolute;
	font-size:80px;
	margin-left:150px;
	margin-right:200px;
	text-align:center;
	margin-top:200px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
	text-shadow: 5px 5px 5px gray;
}
#start .fa {padding:10px;float:right;margin-top:60px;}
.home-link {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align: middle;
	color: white;
	opacity:.35;
	position: relative;
	margin-bottom:10px;
}
#home-link-about {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
}
#home-link-contact {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
}
#home-link-services {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
}
#home-link-blog {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
}
#home-link-about:hover{
	opacity:.75;
	border-bottom: 1px solid white;
	transform: scale(1.05);
	cursor:pointer;
}
#home-link-contact:hover{
	opacity:.75;
	border-bottom: 1px solid white;
	transform: scale(1.05);
	cursor:pointer;
}
#home-link-services:hover{
	opacity:.75;
	border-bottom: 1px solid white;
	transform: scale(1.05);
	cursor:pointer;
}
#home-link-blog:hover{
	opacity:.75;
	border-bottom: 1px solid white;
	transform: scale(1.05);
	cursor:pointer;
}
.home-link:hover{
	opacity:.75;
	border-bottom: 1px solid white;
	transform: scale(1.05);
}
#home-item2{
	position:absolute;
	margin-top:165px;
	margin-left:0;
}
.home-item2-about:active{
	.home-item-about {display:block;}
}
a {
	text-decoration: none;
	color: #9A3334;
}
.home-link a:hover {
	color: white;
}
#home-item-about {
	position: absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color:white;
	width:500px;
	height:530px;
	font-size:25px;
	margin-left:5px;
	display:none;
	border-radius:50px;
	margin-top:400px;
	opacity:.8;
	margin-top:350px;
	box-shadow: 10px 10px 5px #888888;
	background-color: black;
	background-color: rgba(0,0,0,0.0);	
}
#home-item-about:hover {
	transform:scale(1.01);
	background-color: rgba(0,0,0,0.5);
}
#home-item-about h2 {
	margin-bottom:-20px;
	margin-top:-10px;
	width:495px;
	text-align:center;
}
#home-item-about p{
	width:495px;
	text-align:center;
}
#home-item-contact {
	position:absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:300;
	color:white;
	width:500px;
	height:530px;
	font-size:25px;
	margin-top:350px;
	margin-left:520px;
	border-radius:50px;
	opacity:.8;
	text-align: center;
	display:none;
	box-shadow: 10px 10px 5px #888888;
	background-color: black;
	background-color: rgba(0,0,0,0.0);
}
#home-item-contactclose{
	display:none;
}
#home-item-contact:hover {
	transform:scale(1.01);
	background-color: rgba(0,0,0,0.5);
}
#home-item-contact h2{
	margin-top:-30px;
	margin-bottom:-20px;
	width:485px;
}
#home-item-contact p {
	width:485px;
	margin-left:8px;
}
.form-group {
	padding:5px;
}
.form-control{
	width:480px;
	height:25px;
	border-radius:5px;
	font-size:20px;
	background-color: white;
	opacity:.5;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.form-control:hover{
	opacity:1;
}
#comments {
	height:140px;
	margin-bottom:-10px;
}
.btn {
	opacity:.8;
	margin-top:-20px;
	margin-bottom:10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width:100px;
	height:20px;
	font-size:15px;
}
.btn:hover{
	opacity:1;
	transform:scale (1.05);
}
#home-item-services{
	position:absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color:white;
	width:360px;
	height:350px;
	margin-top:10px;
	margin-left:300px;
	border-radius:50px;
	font-size:24px;
	font-weight:lighter;
	opacity:.8;
	text-align: center;
	display:none;
	box-shadow: 10px 10px 5px #888888;
	background-color: black;
	background-color: rgba(0,0,0,0.0);	
}
#home-item-services a {
	color:white;
	opacity:1;
}
#home-item-services a:hover {
	color:#FF8300;
	opacity:.8;
}
#home-item-services:hover {
	transform:scale(1.01);
	background-color: rgba(0,0,0,0.5);
}
#home-item-blog{
	position:absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:300;
	color:white;
	width:330px;
	height:350px;
	margin-top:10px;
	margin-left:680px;
	border-radius:50px;
	font-size:25px;
	font-weight:lighter;
	opacity:.8;
	text-align: center;
	display:none;
	box-shadow: 10px 10px 5px #888888;
	background-color: black;
	background-color: rgba(0,0,0,0.0);	
}
#home-item-blog:hover{
	transform:scale(1.01);
	background-color: rgba(0,0,0,0.5);
}
#home-item-blog img {
	position:absolute;
	width: 300px;
	height:200px;
	border-radius:10px;
	margin-left:-146px;
}
#home-item-blog img:hover {
	opacity:.25;
}
#home-item-blog a{
	color:white;
	opacity:1;
}
#home-item-blog a:hover{
	color:#FF8300;
}
#home-item-blog div{
	position:absolute;
	height:200px;
	width:300px;
	margin-left:18px;
	color:white;
	opacity:0;
	background:black;
	border-radius:10px;
	border:1px solid black;
}
#home-item-blog h3 {
	position:absolute;
	margin-top:225px;
	margin-left:60px;
}
#home-item-blog div p{
	vertical-align: middle;
}
#home-item-blog div:hover{
	opacity:.8;
	background-color: rgba(0,0,0,0.9);
}
#home-item-blog .title{
	display:none;
}
#home-item3 {
	margin-left:100px;
	margin-right:200px;
	margin-bottom:200px;
	font-size:50px;
	position:absolute;
	color: white;
	z-index:100;
	margin-top:250px;
}
#home-link-about2 {
	width: 500px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 150px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
	margin-left:60px;
	margin-top:160px;
}
#home-link-services2 {
	width: 800px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 150px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
	margin-left:60px;
	margin-top:160px;
}
#home-link-contact2 {
	width: 500px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 150px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
	margin-left:60px;
	margin-top:160px;
}
#home-link-blog2 {
	width: 500px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 150px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
	margin-left:60px;
	margin-top:160px;
}
#home-item4 {
	margin-left:100px;
	margin-right:100px;
	margin-bottom:200px;
	font-size:50px;
	position:absolute;
	color: white;
	z-index:100;
	margin-top:2620px;
	display:none;
}
#home-item5 {
	margin-left:100px;
	margin-right:100px;
	margin-bottom:200px;
	font-size:50px;
	position:absolute;
	color: white;
	z-index:100;
	margin-top:3620px;
	display:none;
}
#home-item6 {
	margin-left:100px;
	margin-right:100px;
	margin-bottom:200px;
	font-size:50px;
	position:absolute;
	color: white;
	z-index:100;
	margin-top:4820px;
	display:none;
}
#home-item7 {
	margin-left:100px;
	margin-right:100px;
	margin-bottom:200px;
	font-size:50px;
	position:absolute;
	color: white;
	z-index:100;
	margin-top:6320px;
	display:none;
}
#home-link-about3 {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	display:inline;
	position: relative;
	margin-bottom:10px;
	margin-left:20px;
	margin-top:130px;
}
#home-link-services3 {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	display:inline;
	position: relative;
	margin-bottom:10px;
	margin-left:40px;
	margin-top:130px;
}
#home-link-contact3 {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	vertical-align: middle;
	color: white;
	opacity:.8;
	display:inline;
	position: relative;
	margin-bottom:10px;
	margin-left:40px;
	margin-top:130px;
}
#home-link-blog3 {
	width: 300px;
	height: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	vertical-align: middle;
	color: white;
	display:inline;
	opacity:.8;
	position: relative;
	margin-bottom:10px;
	margin-left:40px;
	margin-top:130px;
}
@media only screen and (max-width:1100px){
	#home-item2 {display:none;}
	#home{height:6500px;}
	.homebody{background-image: url(/assets/b10.png);background-repeat:repeat;}
	#home-item-about{display:block;margin-top:2000px;margin-left:100px;font-size:35px;width:800px;height:600px;background-color: rgba(0,0,0,0.5);}
	#home-item-about h2{width:800px;}
	#home-item-about p{width:800px;}
	#home-item-contact{display:block;margin-top:4000px;margin-left:100px;font-size:27px;width:800px;height:800px;background-color: rgba(0,0,0,0.5);text-align:center;}
	#home-item-contact p {width:770px;}
	#home-item-contact .form-control {font-size:30px;height:35px;width:770px;}
	#home-item-contact #comments {height:280px;}
	#home-item-contact .btn {font-size:35px; height:40px; width:200px;margin-top:30px;}
	#home-item-services{display:block;margin-top:3000px;margin-left:100px;font-size:35px;width:800px;height:600px;background-color: rgba(0,0,0,0.5);}
	#home-item-blog{display:block;margin-top:5500px;margin-left:100px;font-size:35px;width:800px;height:800px;background-color: rgba(0,0,0,0.5);}
	#home-item-blog img {position:absolute; height:400px; width:600px;margin-top:0px;margin-left:-300px;}
	#home-item-blog h3 {margin-left:250px;margin-top:100px;}
	#home-item-blog div {display:none;}
	#home-item-blog .title {display:block; color:white;margin-top:425px;}
	#home-item4 {display:block;}
	#home-item5 {display:block;}
	#home-item6 {display:block;}
	#home-item7 {display:block;}
}
@media only screen and (min-width:1100px){
	#home-item3 {display:none;}
}
/*---------------------------AboutPage-------------------------*/
.aboutimage {
	width: 300px;
	height: auto;
	margin: 1em auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
	margin-left: 5em;
}
.aboutpage {
	padding-top: 100px;
}
.profile {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:20px;
	width: 20em;
	float: right;
	margin-right: 120px;
	margin-top:-350px;
	color: #9A3334;
	padding-bottom: 50px;
	position: center;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.nhpic .profile .ul-about .aboutimage .aboutimage2 .connect {
	float: left;
	display: inline;
}
.ul-about {
	list-style-type: none;
}
.aboutlinks {
	list-style-type: none;
}
.aboutlinks {
	padding-top: 30px;
}
.aboutlink1 a:link {
	color: #9A3334;
	text-decoration: none;
	font-size: 50px;
}
.aboutlink1 a:hover {
	color: #3399FF;
}
.connect {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-color: #e9e9e9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	color: #9A3334;
	clear: both;
	margin-left: 5em;
	display: inline;
	margin-bottom: 15em;
	float: left;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.connect h1 {padding-left: 8px;}
.aboutlink1 {
	font-size: 30px;
	position: center;
	display: inline;
	padding: .25em;
}
@media only screen and (max-width:1100px){
	.connect{margin-bottom:1em;margin-left:30%;}
	.aboutimage{width:400px; margin-left:24%;}
	.profile{margin-top:0; font-size: 40px; margin-right: 100px; width:80%;}
}

/*----------------------------Services Page-------------------------*/
.services {
	padding-top: 100px;
	margin-bottom: 100px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	max-width: 100%;
}
.splash {
	width:75%;
	text-align: center;
}
.services-intro{
	font-size: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #9A3334;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
    height: 50%;
    margin: auto;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    padding-bottom: 30px;
    margin-left:120px;
}
.item-title-marketing{
	text-align: center;
	font-size:80px; 
	width: 75%;
	background: -webkit-linear-gradient(#eee, #F3EFE0); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
	border: 2px solid #F3EFE0;
	border-radius: 10px;
	margin-left: 120px;
}
.item-title-website{
	text-align: center;
	font-size:80px; 
	width: 75%;
	background: -webkit-linear-gradient(#eee, #9A3334); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	text-shadow: 0 -2px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
	border: 2px solid #9A3334;
	border-radius: 10px;
	margin-left: 120px;
}
.marketing p{
    width: 75%;
    min-height: 12%;
    font-size: 30px;
    color: #F3EFE0;
    margin-left:120px;
}
.website p{
	margin-left: 120px;
	font-size: 30px;
	width: 75%;
}
.marketing {
	width: 100%;
    background: #9A3334;
}
.website {
    width: 100%;
    min-height: 12%;
    background: white;
    font-size: 30px;
    color: #9A3334;

}
.marketing strong {
	font-size: 50px;
}
.website strong {
	font-size: 50px;
}
.last {
	padding-bottom: 50px;
}
.services-final {
	font-size: 40px;
	width: 75%;
	margin-left: 120px;
}
.services-cta {
	font-size: 50px;
	width: 75%;
	margin-left: 120px;
	border: 2px solid #9A3334;
	text-align:center;
	border-radius: 10px;
}

/*-----------------------------Blog page-------------------------*/
.blog {
	height: auto;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-top: 80px;
	font-size: 100%;
}
.bloglinks {
	float: left;
	width: 175px;
	height: 500px;
	border: 1px solid gray;
	font-size: 20px;
	position: fixed;
}
.bloglinks p {
	padding-left: 5px;
}
.bloglinks strong {
	font-size: 20px;
	padding-left: 5px;
}
.mainarticle {
	margin-left: 22%;
	margin-bottom: 50px;
	display: inline;
	float: left;
	width: 60%;
	height: 1000px;
	font-size: 20px;
}
.articleimg{
	max-width:630px;
	height: auto;
}
.articletitle {
	margin-bottom: 15px;
	font-size: 35px;
	text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
}
.articlesocialshare {
	font-size: 20px;
}
@media only screen and (max-width: 1100px){
	.articleimg {width: 100% !important; height:auto !important;}
	.bloglinks {display:none;}
	.mainarticle{margin-left:2px;padding-right:100px;width:90%;font-size: 50px;}
	.articletitle{font-size:70px;}
	.articlesocialshare {margin-left: 10px;}
	.articlecta p{font-size: 50px;}
	.articlecta p a{font-size: 50px;}
	iframe {width:100% !important; height:600px;}
}

.articlequote {
	font-style: italic;
}
.quoteauthor {
	margin-top: -15px;
	float: right;
}
.articlebody h3 {
	text-align: center;
	color: #9A3334;
}
.firstparagraph {
	padding-top: 40px;
}
.articlecta {
	padding-bottom: 100px;
	font-size: 30px;
}
.articlecta-contact a{
	border: 2px solid #474747;
	border-radius: 10px;
	padding: 1px 4px;
}
/*----------------------------Blog 2----------------------------*/
.selfie-pic {
	width: 625px;
	height: auto;
}
.blogmap {
	width:100%;
	height: auto;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-top: 80px;
}
.hr-width {width:400px;float:left;margin-top:-20px;}
.blogmap-category {
	width:50%;
	float:left;
}
.blogmap-category img {
	height: 200px;
	width: 400px;
}
@media only screen and (max-width: 1100px){
	.blogmap-category{font-size:30px;}
	.blogmap-category img{height:300px; width:450px;}
	}
/*---------------------------Portfolio page----------------------*/
.portfolio {
	padding-top:200px;
	color: black;
}
.portfolio-pic {
	margin-top: 100px;
	height: 200px;
	width: auto;
}
.port-website img{
	width:300px;
	height:auto;
}










