.bmenu{
    padding: 0px;
    position: fixed;
    margin-top: 0px;
}
.bmenu li{
    font-size: 1em;;
    display: inline;
}
.bmenu li a{
	text-shadow: 0px 0px 5px #0d1a3a;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	padding-left: 5px;
	position: center;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bmenu:hover li a{
	text-shadow: 0px 0px 5px #0d1a3a;
}
.bmenu li a:hover{
	color: #3399FF;
	text-shadow: 0px 0px 1px #0d1a3a;
	padding-left: 10px;
}
.navbar-img {
	height: 30px;
	width: auto;
	position: fixed;
	margin-left: -9em;
}
@media only screen and (max-width:500px){
	.bmenu li{font-size:.75em;padding:.2em;}
}
@media only screen and (max-width:820px){
	.navbar-img{float:left;margin-left:0px;margin-top:2em;}
}
